/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: green;
}

/* Main Content Styles */
.app-content {
  padding: 2rem;
  text-align: center;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}